.account-wrap span {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.account-wrap div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.account-wrap a {
    text-decoration: none;
}

.account-wrap {
    margin: 11px 0 14px 0;
}

svg#up-arrow {
    transform: rotate(180deg);
}

.account-wrap .account-accord-content {
    padding: 1em 0 0 0;
    color: #fff;
    margin: 0 10px;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    font-size: 12px;
}
