.connected-wallet-wrap {
    background: #FCFBFB;
    border: 1px solid #ECECEC;
    border-radius: 12px;
    padding: 10px;
    max-width: 1002px;
}

.connected-wallet-wrap table {
    width: 100%;
}

.connected-wallet-wrap a {
    display: inline-block;
    margin: 0 6px;
}

p.currency {
    color: #00224C;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
}

p.connect-wallet.title {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 41px;
    color: #00224C;
    margin: 0;
    text-transform: capitalize;
}

p.wallet-address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 41px;
    color: #00224C;
    margin: 0;
}

.page-desc p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    color: #6B7280;
}

.plan-wrap {
    padding: 25px 25px;
}

.payment-info p {
    font-size: 12px;
    line-height: 18px;
    max-width: 428px;
}

h3.col-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 41px;
    color: #00224C;
}

table.preview-invoices {
    max-width: 391px;
}

table.preview-invoices tbody tr td:nth-of-type(3) {
    color: #00224C;
    width: 120px;
}

.wallet-section .row {
    max-width: 1024px;
}

.delete-account {
    font-weight: 400;
    font-size: 12px;
    line-height: 41px;
    /* identical to box height, or 342% */

    text-decoration-line: underline;

    color: #757575;
}

.form-item-wrap input,
.form-item-wrap select {
    background-color: #f0f0f0;
    border: 0;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 20px 0;
    font-size: 13px;
    line-height: 19.5px;
    max-width: 357px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background: #00224C;
    border-radius: 12px;
    color: #fff;
    width: 100%;
    padding: 10px 10px;
    max-width: 357px;
}

.form-item-wrap span {
    width: 54px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 20px 0;
}

.form-item-wrap label {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #757575;
}

.plan-wrap {
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    display: flex;
}

.row .row-inner {
    display: flex;
    flex-flow: row nowrap;
}

.row-item.col.col-50 {
    width: 50%;
}

p.last-paid {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    display: flex;
    align-items: center;

    color: #00224C;
}

a.view-files.add-funds {
    color: #017B95;
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    border: 1px solid #017B95;
    padding: 7px 28px 6px 29px;
    border-radius: 5px;
    text-decoration: none;
}

.payment-info h3,
.preview-invoices h3 {
    font-size: 16px;
    color: #00224C;
    line-height: 41px;
}

table.preview-invoices td:first-of-type {
    width: 10%;
    max-width: unset;
}

table.preview-invoices td:first-of-type {
    font-weight: 500;
    font-size: 12px;
    line-height: 41px;
    color: #00224C;
}

table.preview-invoices td:nth-of-type(2) {
    font-weight: 400;
    font-size: 12px;
    line-height: 41px;
    color: #6B7280;
    text-align: center;
}

p.plan-size {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
    /* or 20px */
    display: flex;
    align-items: center;

    color: #757575;
}

p.current-plan {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.connected-wallet-wrap .view-files {
    padding: 6px 0px;
    font-size: 10px;
    border-radius: 5px;
    line-height: 20px;
    max-width: 111px;
    width: 100%;
    text-align: center;
}

td.button-td {
    width: 420px;
    max-width: 420px;
}

.connected-wallet-wrap .view-files.buy {
    background: #017B95;
    border: 1px solid #017B95;

    color: #fff;
    text-decoration: none;
}

a.view-files.send,
a.view-files.swap {
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    color: #017B95;
    background: #fff;
    border: 1px solid #017B95;
}

a.history {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #00224C;
}

a.show-all.account-currency {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 41px;
    text-decoration: underline;
    color: #000000;
}