
.home{

  width: 100%;
  height: 100%;
  padding: none;
  background: url('../images/image-bg.svg') center center/cover no-repeat;
  align-content: center;
  justify-content: center;

}
.home .home-overlay{
  background: url('../images/overlay-bg.png') center center/cover no-repeat;
  object-fit: cover;
  width: 100%;
  z-index: 0;
  height: calc(100% + 80px);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
}
#onramper-modal{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(41,41,41,.5);
 z-index: 10;
}
.onramper-widget{
  width: 50vw;
  height: 75vh;
  z-index: 11;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body,
button,
p {
  font-family: 'Poppins', sans-serif;
}


/*spinner css*/

@keyframes ldio-rgj7pqnl2b {
  0% { background: #005d75 }
  8.333333333333334% { background: #005d75 }
  8.416666666666666% { background: #1877f2 }
  100% { background: #1877f2 }
}
.ldio-rgj7pqnl2b div {
  position: absolute;
  width: 34.2px;
  height: 34.2px;
  background: #1877f2;
  animation: ldio-rgj7pqnl2b 1.639344262295082s linear infinite;
}
.loadingio-spinner-blocks-4psddnlisx6 {
  width: 171px;
  height: 171px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-rgj7pqnl2b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rgj7pqnl2b div { box-sizing: content-box; }
/* generated by https://loading.io/ */