.box{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center; 
    justify-content: center; 
    align-self: center;
    padding: none;
    background: url('../images/image-bg.svg') center center/cover no-repeat;

}
.login .overlay{
    background: url('../images/overlay-bg.png') center center/cover no-repeat;
    object-fit: cover;
    width: 100%;
    z-index: 0;
    height: calc(100% + 80px);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
}

.login-header{
    display: flex;
    flex-direction: row;
    width: border-box;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
}
.login-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    
    
}
.login-footer{
    display: flex;
    flex-direction: row;
    width: border-box;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
}
/* .btn{
    display: flex;
    margin: 2%;
    width: border-box;
    height: 4em;
    background-color: #1877F2;
    border-radius: 12px;
    color: #FFFFFF;
   
    justify-content: center;
    align-items: center;
    } */
.input{
    display: flex;
    width: border-box;
    height: 46px;
    background: #F0F0F0;
    border-radius: 12px;
    margin: 2%;
}
.header{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2em;
/* identical to box height */

text-align: center;

color: #040936;

    }
