.pop-up-wrapper {
    z-index: 99999;
    position: relative;
}

.popup-content .header {
    font-size: 14px;
    color: #00224C;
    font-weight: 500;
    line-height: 21px;
    padding-block: 15px 27px;
}

.upload-box-wrapper h4 {
    font-size: 16px;
    line-height: 24px;
    color: #00224C;
    font-weight: 600;
    margin: 0;
}

.upload-box-wrapper p {
    font-size: 14px;
    line-height: 21px;
    color: #6B7280;
    font-weight: 400;
    max-width: 322px;
    margin: 0 auto 0.5em auto;
}

.choose-location h5 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #00224C;
    margin: 27px 0 27px 0;
}

.popup-content {
    border-radius: 12px;
}

div#popup-root .popup-overlay {
    background: rgba(0, 34, 76, 0.8);
    backdrop-filter: blur(16px);
}

button.close {
    display: block;
    background-color: transparent;
    border: 0;
    position: absolute;
    left: auto;
    right: 0;
    top: 13.34px;
}

.upload-wrapper .item * {
    text-align: center;
}

.upload-wrapper p,
.upload-wrapper a {
    text-decoration: none;
    font-size: 11px;
    color: #484343;
}

.upload-wrapper .item img {
    display: block;
    margin: 0 auto;
}

.upload-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: unset;
    margin-block: 0 20px;
    row-gap: 10px;
}

.popup-content {
    max-width: 590px;
    width: 100%;
}

.upload-wrapper .item {
    min-width: 16.66%;
    max-width: 16.66%;
    min-height: auto;
    max-height: unset;
    flex: 0 1 auto;
    align-self: center;
}

.choose-location,
.header {
    margin: 0 20px;
}

.modal .content .upload-box-wrapper {
    border: 2px dashed #00224C;
    margin: 0 20px;
    border-radius: 12px;
    padding: 18.63px 10px 12px 10px;
}

.upload-box-wrapper {
    text-align: center;
}

@media (max-width: 769px) {
    div#popup-root div#popup-1 {
        max-width: 95%;
        width: 100%;
    }
}