.folder-viewer-outer .overlay {
    background: url('./overlay-bg.png') center center/cover no-repeat;
    object-fit: cover;
    height: 100vh;
    /* height: 100%;
    min-height: 100vw; */
    width: 100%;
}

.viewer-inner {
    padding: 16px 18px 27px;
    overflow-y: auto;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.viewer-inner {
    background-color: #fff;
    border-radius: 12px;
    height: calc(100% - 44px);
    margin: 22px;
    overflow-y: auto;
    padding: 16px 18px 27px;
    width: calc(100% - 74px);
    box-sizing: border-box;
}

.folder-viewer-outer {
    background: url('./image-bg.svg') center center/cover no-repeat;
    height: 100vh;
    max-height: 100vh;
    width: calc(100% - 179px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    z-index: -1;
}

div#root {
    height: 100vh;
}

.mobile-wrap .folder-viewer-outer {
    width: 100%;
}