.navbar {
    background: #040936;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    width: 100%;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 40vw;
    justify-content: center;
    margin-right: 2rem;
}

a.btn-mobile {
    display: none;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 1rem;
    height: auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

nav.navbar.is-mobile .account-wrap {
    max-width: 159px;
    margin-left: auto;
    margin-right: 10px;
}

.navbar-container-dev ul.nav-menu {
    padding: 0;
    justify-content: left;
    margin: 0;
    display: inline;
}

.navbar-container-dev {
    max-width: 800px;
    margin: 1em auto;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 5px 10px;

}

.navbar-container-dev * {
    margin: 0;
}

.navbar-container-dev ul,
.navbar-container-dev ul li a,
.navbar-container-dev ul li {
    display: inline-block;
    color: #000;
}

.navbar-container-dev a.nav-links {
    z-index: 999;
    position: relative;
}

nav.navbar.is-mobile .nav-menu {
    width: auto;
    height: auto;
    margin-left: auto;
    opacity: 1;
    transition: all 0.5s ease;
}

.account-wrap img {
    margin: 0 10px;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}