.notification-wrapper {

    border-radius: 12px 12px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.notifications-inner.bg-green {
    background: rgba(171, 231, 187, 0.9);
}

.notifications-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
}

.item-col p {
    margin: 11px 0;
    font-size: 12px;
    line-height: 18px;
}

.item-col svg {
    margin: 0px 0 0 0;
    font-size: 12px;
    line-height: 18px;
}