table.blueTable {

    background-color: #fff;
    width: 100%;
    text-align: left;
    border-collapse: collapse;

}

table.blueTable td,
table.blueTable th {

    /* padding: 3px 2px; */
}

/* .mobile-wrap .mobile-wrap table.blueTable.table-curved tbody tr td:first-of-type:before {
    content: unset;
} */

.mobile-wrap .mobile-wrap table.blueTable.table-curved tbody tr.folder td:first-of-type:before {
    content: '';
}

.mobile-wrap .mobile-wrap table.blueTable.table-curved tbody tr.folder td:first-of-type:hover:before {
    content: '';
}

.mobile-wrap table.blueTable tbody a.view-files,
.mobile-wrap table.blueTable tbody a.actions {
    display: inline-block;
    width: 100%;
    min-width: -moz-fit-content;
    min-width: 142px;
    max-width: 131px;
    padding: 3px 11px;
}

.navbar-container .button-wrap {
    margin: 0 10px 0px 0;
}

.mobile-wrap .file-wrap {
    display: flex;
}

.mobile-wrap .file-wrap a {
    display: flex;
    margin: 10px 8px;
}

.mobile-wrap table.blueTable.table-curved tbody tr.folder td:first-of-type {
    width: 30px;
    max-width: 30px;
}

.mobile-wrap table.blueTable.table-curved tbody tr td:first-of-type {
    width: 100%;
    max-width: 100%;
}



span.Title {
    font-size: 18px;
    font-weight: 600;
    color: #00224C;
}

table.blueTable tbody tr {
    margin: 13px 0;
}

table.blueTable tbody td {
    font-size: 13px;
}

table.blueTable {
    border-collapse: separate;
    border-spacing: 0 13px;
}

/* table.blueTable tr:nth-child(even) {
    background: #fff;
} */

table.blueTable thead {
    background: #fff;
    border-bottom: 2px solid #f6f6f6;
}

table.blueTable thead th {
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    color: #757575;

}


table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #fff;
    position: relative;
    display: block;
    margin: 1em 0;
}

table.blueTable tfoot .links a.active,
.links a.active,
.links a:hover table.blueTable tfoot .links a:hover {
    background: #00224C;
    color: #fff;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: left;
}

.button-wrap .button-top {
    padding: 7px 0px 6px 0px;
    max-width: 111px;
    width: 100%;
    font-size: 10px;
    display: inline-flex;
    line-height: 15px;
    font-weight: 500;
    border: 0;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.button-wrap {
    flex-flow: row nowrap;
    display: flex;
    flex-shrink: unset;
    flex: 1;
    justify-content: end;
}

.button-wrap .button-top svg {
    margin-left: 7.2px;
}

button.button-top.add-folder {
    background-color: #017B95;
    color: #fff;
}

button.button-top.upload-files {
    background-color: #00224C;
    color: #fff;
}

/* table.blueTable tbody tr.folder,
tr.folder {
    background-color: #F2F2F2;
} */
table.blueTable tbody tr.folder td {
    /* background-color: green; */
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
    height: 100%;
    /* border-bottom-right-radius: 5px; */
}

.pagination {
    margin: 32px 0 0 0;
}

.button-wrap button {
    margin-left: 5px;
}

.links a,
table.blueTable tfoot .links a {
    display: inline-block;
    background: #fff;
    color: #00224C;
    padding: 5px 11px;
    border-radius: 4px;
    border: 1px solid #00224c;
    font-size: 12px;
    line-height: 20px;
    margin-right: 5px;
}

div#breadcrumbsViewer {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.ViewerInner {
    padding: 0;
}

.breadcrumb-trail span {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

table.blueTable.table-curved.nft-only tbody {
    display: grid;
    grid-template-columns: repeat(auto-fill, 145px);
    grid-template-rows: auto;
    row-gap: 6px;
}

/* for media only difference is additional media class 
 */

table.blueTable.table-curved.media-only tbody {
    display: grid;
    grid-template-columns: repeat(auto-fill, 275px);
    grid-template-rows: auto;
    row-gap: 6px;
}

table.blueTable.title-section tr td:nth-of-type(2) {
    width: 1%;
    white-space: nowrap;
    max-width: 100%;
}

span.Title {
    margin-left: 12px;
    margin-right: 18px;
}

table.blueTable.table-curved.nft-only tbody tr {
    margin: 0;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
}

/* .table-curved.nft-only tbody tr:hover td:first-child:before {
    content: unset;
} */

table.blueTable.table-curved.nft-only {
    border: 0;
}

table.table-curved.nft-only tbody tr:hover td:first-child:before {
    border-radius: 0px;
}

table.blueTable.table-curved.nft-only tbody tr td:first-of-type,
table.blueTable.table-curved.nft-only tbody tr td:last-of-type {
    width: auto;
    max-width: 100%;
}

.table-curved.table-curved.nft-only tbody td:first-child {
    padding-left: 8px;
}

.NFT-item td img {
    width: 100%;
}

table.blueTable.table-curved.nft-only tbody tr td:nth-of-type(2) {
    max-width: 50%;
    min-width: 20%;

    float: left;
    padding-top: 0;
}

table.blueTable.table-curved.nft-only tr.NFT-item:hover,
table.blueTable.table-curved.nft-only tr.NFT-item:hover * {
    background: #f3f3f3;
    opacity: .8;
}

table.blueTable.table-curved.nft-only tbody tr td:nth-of-type(3) {
    max-width: 50%;
    min-width: 20%;
    padding-top: 0;
    padding-bottom: 5px;
    float: left;
}


table.blueTable.table-curved.nft-only tbody tr td:nth-of-type(4) {
    max-width: 100%;
    width: 100%;
    float: left;
    color: #6B7280;
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 0px;

}

table.blueTable.table-curved.nft-only tbody tr td:nth-of-type(3) svg {
    padding-top: 3px;
}

.table-curved.nft-only tbody tr:hover td:last-child {
    background-color: #f5f5f5;
}

a.nft-button.hollow {
    border: 1px solid #00224c;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 0;
    overflow: visible;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    line-height: 15px;
}

table.blueTable.nft-only svg {
    background: transparent;
    border-radius: 4px;
    padding: 5px 0px 5px 5px;
    justify-self: center;
}

table.blueTable.table-curved.nft-only tbody tr td:last-of-type {
    background-color: initial;
    right: 0;
    max-width: 50%;
    position: absolute;
    bottom: 3px;
}

table.blueTable.table-curved.nft-only tbody tr td:last-of-type {
    padding: 0 6px 0 0;
}

table.blueTable.table-curved.nft-only td.name,
table.blueTable.table-curved.nft-only td.name a {
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
    line-height: 15px;
}

table.blueTable.table-curved.nft-only tbody tr td {
    display: flex;
    flex-flow: column nowrap;
}

table.blueTable svg {
    padding: 7.75px 8.51px 8.75px 9.51px;
    background: #F0F0F0;
    border-radius: 4px;
}

th,
td {

    overflow: hidden;
}

table.blueTable tfoot td {
    width: auto;
    max-width: 100%;
}

table.blueTable tfoot {
    width: 100%;
}

.variable-width {
    overflow: hidden;
    width: auto;
    white-space: nowrap;
}

tbody tr td:first-of-type {
    width: 30px;
    max-width: 30px;
}

tfoot .links {
    display: flex;
    flex-flow: row nowrap;
}






.table-curved {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0px;
}

.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left: 0px;
}


.table-curved tr {
    position: relative;
    border-radius: 26px;
    border-collapse: seperate;
    border-spacing: 0;
    /* background: #f8f8f8; */
    backgrnoud-position-x: 10px;
    padding: 10px 0;
    transition: background .1s;
}

.table-curved tr:hover {
    background: #eee;
    opacity: .8;
}

.table-curved tr.folder {
    background: #eee;
}

table.blueTable tbody tr.folder td:nth-of-type(2) {
    border-radius: 0;
}

table.blueTable tbody tr.folder td:nth-of-type(2) {
    text-decoration: none;
}

table.blueTable tbody tr.folder td:nth-of-type(3) {
    border-radius: 0;
}

.table-curved th {
    border-top: none;
}

.table-curved tbody th:first-child {
    border-radius: 6px 0 0 0;
}

/* .table-curved tbody tr.folder td:last-child {
    border-radius: 0 6px 0 6px;
} */
.table-curved tbody tr.folder td:last-child {
    background-color: #fff;
}

.table-curved tbody th:only-child {
    border-radius: 6px 6px 0 0;
}

.table-curved tbody tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

.table-curved tbody tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.table-curved tbody tr.folder td:first-child:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 6px 0 0 6px;
    position: absolute;
    background-color: #eee;
    z-index: 0;
}

.table-curved tbody tr.folder td:last-child:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0 6px 6px 0;
    position: absolute;
    background-color: #eee;
    z-index: 0;
}

.table-curved tbody tr:hover td:last-child:before {
    background-color: #f0f0f0;
    opacity: .8;
}

.table-curved tbody tr:hover td:first-of-type::before {
    background-color: #f0f0f0;
    opacity: .8;
}

.table-curved tbody tr:hover td:first-child::before {
    background-color: #f0f0f0;
    opacity: .8;
}

.table-curved tbody tr:hover td:last-child {
    background-color: #fff;
}

.table-curved tbody tr:hover td:first-child:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 6px 0px 0px 6px;
    position: absolute;
    z-index: 0;
    opacity: .8;
}

.table-curved tbody tr td:last-child:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0 6px 6px 0;
    position: absolute;
    background-color: #fefefe;
    z-index: -1;
}

table.blueTable thead th {
    text-align: left;
}

table.blueTable tbody td.name {
    color: #00224C;
    font-size: 12px;
    text-decoration: underline;
}

table.blueTable tbody td a {
    font-size: 12px;
    color: #00224C;
    text-decoration: underline;
}

table.blueTable tbody a.actions {
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    color: #fff;
    background-color: #00224C;
    border: 1px solid #00224C;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

table.blueTable a.actions svg {
    background: #00214c;
    border-radius: 4px;
    padding: 5.75px 8.51px 0.75px 9.51px;
}

table.blueTable tbody a.view-files {
    border: 1px solid #017B95;
    font-size: 10px;
    line-height: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    color: #017B95;
}

table.blueTable tbody td a.view-files {
    color: #017B95;
    font-size: 10px;
    text-decoration: none;
    border: 1px solid #017B95;
}

tbody tr td:nth-of-type(3) {
    font-size: 12px;
    font-weight: 400;
    color: #017B95;
    text-decoration: underline;
    opacity: 1;
}

table.blueTable thead tr:hover {
    text-align: center;
    background-color: #fff;
    opacity: 1;
}

table.table-curved tbody tr:hover td {
    background: #f0f0f0;
}

table.table-curved tbody tr:hover td:first-of-type {
    background: #fff;
}

table.table-curved tbody tr.folder:hover td:first-of-type {
    background: #f9f9f9;
}

table.table-curved tbody tr:hover td {
    background: #f0f0f0;
    opacity: .8;
}


.table-curved tr.folder:hover {
    background-color: #f9f9f9;
    opacity: .8;
}

.table-curved tr:hover td:before {
    background: #f0f0f0;
}

.table-curved tbody tr.folder td:last-child {
    border-radius: 0 6px 6px 0;
}

tr.folder *,
tr * {
    z-index: 1;
    position: relative;
}

.table-curved tbody td:first-child {
    background-color: #fff;
}

.table-curved tbody td:first-child {
    padding-left: 15px;
}

.table-curved tbody td {
    position: relative;
    /* border-bottom: 10px solid white; */
    border-spacing: 0px;
    padding: 10px;
}